*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../img/back.png);
    background-size: cover;
}

.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

.information{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #000000ef;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.info-childs{
    width: 100%;
    padding: 0 30px;
}

.info-childs h2{
    font-size: 2.5rem;
    color: #ffffff;
}

.info-childs p{
    margin: 15px 0;
    color: #ffffff;
}

.info-childs input{
    background-color: transparent;
    outline: none;
    border: solid 2px #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover{
    background-color: #ffffff;
    border: none;
    color: #000000;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-information-childs{
    padding: 0 30px;
}

.form-information-childs h2{
    color: #000000;
    font-size: 2rem;
}

.form-information-childs p{
    color: #000000;
}

.icons{
    margin: 15px 0;
}

.icons i{
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #000000;
    border: sold thin blue;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.icons i:hover{
    background-color: #000000;
    color: #fff;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.form label input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #000000;
}

.form input[type="submit"]{
    background-color: #000000;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 13px 25px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, .1);
}

.form input[type="submit"]:hover{
    background-color: transparent;
    border: solid 2px #000000;
    color: #000000;
}

.hide{
    position: absolute;
    transform: translateY(-300%);
}

/* RESPONSIVE */

@media screen and (max-width:750px) {
    html{
        font-size: 12px;
    }
}

@media screen and (max-width:580px) {
    html{
        font-size: 10px;
    }

    .container-form{
        height: auto;
        flex-direction: column;
    }   

    .information{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-information{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}